/*Universal Styles*/
body {
  background-color: blac;
  font-size: 22px;
  font-family: helvetica;
  font-weight: bold;
  color: seashell;
  opacity: 0.9;
  margin: 0 auto;
  padding: 0;
}

a {
  color: seashell;
  text-decoration: underline;
}

.section-header {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 100px;
  width: 1200px;
  align-items: center;
  justify-content: center;
  font-family: helvetica;
  color: seashell;
  font-weight: bold;
}

.section-header .title {
  position: relative;
  top: 20px;
}
.section-header .narrative {
  position: relative;
  bottom: 20px;
}

.flexsection {
  display: flex;
}

/*Header Styles*/
header {
  display: flex;
  position: fixed;
  z-index: 1;
  align-items: center;
  height: 69px;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid seashell;
}

header span {
  padding-left: 20px;
}

header .logo {
    flex-grow: 1;
}

.logo img {
  height: 50px;
  padding-left: 10px;
}

header nav {
  padding-right: 10px;
}

/*Main Section styles*/
section.main {
  margin: 0 auto;
  position: relative;
  top: 70px;
  height: 700px;
  width: 1200px;
}

main {
  background-image: url(../pics/img-mission-background.jpg);
  width: 1200px;
  height: 700px;
  background-size: cover;
  align-items: center;
}

/*Featured Tea Styles*/
section.featured-tea {
  flex-direction: column;
  position: relative;
  top: 150px;
  width: 1000px;
  margin: 0 auto;
  background-color: black;
  font-family: helvetica;
  font-weight: bold;
  color: seashell;
}

.tea.section-header {
  width: 1000px;
  margin-bottom: 15px;
}

.img-content {
  display: flex;
}

.top-row {
  justify-content: space-between;
  margin-bottom: 15px;
}

.sec-row {
  justify-content: center;
}

.img img {
  width: 300px;
  height: 200px;

}
.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 250px;
}
.img-title {
  position: relative;
  top: -15px;
}

.myrtle {
  padding-right: 25px;
}

.bedford {
  padding-left: 25px;
}

/*Location Styles*/
section.locations {
  height: 500px;
  width: 1200px;
  background-image: url(../pics/img-locations-background.jpg);
  background-size: cover;
  position: relative;
  top: 220px;
  margin: 0 auto;
  font-family: helvetica;
  font-weight: bold;
  color: seashell;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid red;
}

.location-boxes {
  width: 980px;
  height: 260px;
  align-items: flex-end;
  justify-content: space-between;
}

.location-box {
  height: 260px;
  width: 300px;
  background-color: black;
  text-align: center;
  opacity: 1;
}

.loc-box-header {
  font-weight: bolder;
}
.location-header {
  position: absolute;
  top: 45px;
}

/*Contact Styles*/
section.contact {
  background-color: black;
  display: block; /*compare with inline-block*/
  height: 200px;
  margin: 0 auto;
  width: 1200px;
  font-family: helvetica;
  color: seashell;
  position: relative;
  top: 220px;
  text-align: center;
}
